# App artifacts
/_build
/db
/deps
/data
/*.ez

*.pem
*.o

# Generated on crash by the VM
erl_crash.dump

/states
/.vscode
/config/*.secret.exs
.elixir_ls/
./run
clones
config/diode.exs
.history/
evm/evm
core
ttb_last_config
data_dev/
data_prod/
data_test/
