[Unit]
Description=Diode service

[Service]
Restart=always
RestartSec=3
ExecStart=/usr/bin/screen -L -DmS diode supervise /home/dominicletz/poc-server-ex
User=dominicletz

[Install]
WantedBy=multi-user.target
