# Diode Server
# Copyright 2021-2024 Diode
# Licensed under the Diode License, Version 1.1
[Unit]
Description=Diode service

[Service]
Restart=always
RestartSec=3
ExecStart=/usr/bin/screen -L -DmS diode supervise /opt/diode
WorkingDirectory=/opt/diode
Environment=HOME=/opt/diode
Environment=PRIVATE=0

[Install]
WantedBy=multi-user.target
