name: "CI"
on: ["push", "pull_request"]

jobs:
  test_and_build:
    name: "Build and lint"
    runs-on: "ubuntu-latest"
    steps:
    - name: Install deps
      run: sudo apt-get install -y libboost-dev libboost-system-dev

    - name: Setup elixir
      uses: erlef/setup-elixir@v1
      with:
        otp-version: 25.3
        elixir-version: 1.15.7

    - uses: actions/checkout@v1
    - run: |
        mix local.hex --force
        mix local.rebar --force
        mix deps.get
        mix lint
        # mix test
